
:root{
  /* f4f1de e07a5f 3d405b 81b291 */
  --background: #f4f1de;
  --primary: #3d405b;
  --secondary: #e07a5f;
  --white: #81b291;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0 10%;
  background-color: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, auto);

}

.cell{
  height: 100px;
  width: 100px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none
}

.cell:nth-child(3n + 1){
  border-left: none
}

.cell:nth-child(3n + 3){
  border-right: none
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
  border-bottom: none
}

/* styling x cells */

.board .cell.x::before,
.board .cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  height: 70px;
  background-color: black;
}

.board .cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
  transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
  background-color: rgb(100, 100, 100);
}

/* styling o cells */

.board .cell.o::before,
.board .cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: black;
}

.board .cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
  background-color: white;
  width: 50px;
  height: 50px;

}

.board.o .cell:not(.x):not(.o):hover::before{
  background-color: rgb(100, 100, 100);
}

/*end game screen */

.end-game {
  display: none;
}

.end-game.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #64ed67;
    font-size: 3rem;
    text-transform: uppercase;
}

.end-game button{
  font-size: 1.5rem;
    width: 260px;
    height: 80px;
    margin-top: 20px;
    border: 1px dashed #024209;
    cursor: pointer;
    text-transform: uppercase;
}

.end-game button:hover{
  background-color: #024209;
  color: white;
}